{% extends '../frontend.html.twig' %}


{% block title %}Cupon, cada día ofertas increíbles en tu
    ciudad con descuentos de hasta el 90%{% endblock %}

{% block id 'portada' %}
{% block article %}

    <section class="descripcion">
        <h1><a href="#"> {{ oferta.nombre }} </a></h1>
        {{ descripcion.oferta }}
        <a class="boton" href="#">Comprar</a>
    </section>
    <section class="galeria">
        <img alt="Fotografía de la oferta" src="{{ asset('uploads/images' ~ oferta.rutaFoto) }}">
        <p class="precio">{{ oferta.precio }} &euro;
            <span>{{ oferta.descuento }}</span></p>
        <p><strong>Condiciones:</strong> {{ oferta.condiciones }}</p>
    </section>
    <section class="estado">
        <div class="tiempo">
            <strong>Faltan</strong>: {{ oferta.fechaExpiracion }}
        </div>
        <div class="compras">
            <strong>Compras</strong>: {{ oferta.comprasTotales }}
        </div>
        <div class="faltan">
            {% set faltan = oferta.umbral - oferta.compras %}
            {% if faltan > 0 %}
                {# Si las compras no llegan al umbral mínimo establecido #}
                Faltan <strong>{{ faltan }}</strong> <br/>
                para activar la oferta
            {% else %}
                {# Si las compras superan el umbral mínimo establecido #}
                <strong>Oferta activada</strong> por superar las
                <strong>{{ oferta.umbral }}</strong> compras necesarias
            {% endif %}
        </div>
    </section>
    <section class="direccion">
        Capítulo 6 Creando la portada Desarrollo web ágil con Symfony2
        106
        <h2>Disfruta de la oferta en</h2>
        <p>
            <a href="#">{{ oferta.tienda.nombre }}</a>
            {{ oferta.tienda.direccion }}
        </p>
    </section>
    <section class="tienda">
        <h2>Sobre la tienda</h2>
        {{ oferta.tienda.descripccion }}
    </section>

{% endblock %}

{% block stylesheets %}

{% endblock %}

