<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title> {% block title %}{% endblock %} | Cupon</title>
    </head>
    <body id="{% block id '' %}">
        <div id="contenedor">
            <header>
                {% set ciudadSeleccionada = app.request.attributes.get('ciudadId')|default(ciudad_por_defecto) %}
                <h1><a href="{{ path('portada') }}">CUPON</a></h1>
                <nav>
                    <ul>
                        <li><a href="{{ path('portada', {ciudadId : ciudadSeleccionada }) }}">Oferta del día</a></li>
                        <li><a href="#">Ofertas recientes</a></li>
                        <li><a href="#">Mis ofertas</a></li>
                    </ul>
                </nav>
            </header>

            <article>
                {% block article %}
                
                {% endblock %}

            </article>
            <aside>
                {% block aside %}
                
                {% endblock %}

                ## FORMULARIO DE LOGIN ##
                <section id="nosotros">
                    <h2>Sobre nosotros</h2>
                    <p>Lorem ipsum dolor sit amet...</p>
                </section>
            </aside>
            <footer>
                &copy; {{ 'now'|date('Y') }} - Cupon
                <a href="path('pagina', {nombrePagina : 'ayuda')">Ayuda</a>
                <a href="path('pagina', {nombrePagina : 'contacto')">Contacto</a>
                <a href="path('pagina', {nombrePagina : 'privacidad')">Privacidad</a>
                <a href="path('pagina', {nombrePagina : 'sobre-nosotros')">Sobre nosotros</a>
            </footer>
        </div>
    </body>
</html>